<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION) </string>
	<key>GIDClientID</key>
	<string>292444068697-u161bubpk3obd0nnmrtb73tm5j4bgjdt.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.213788901815-r73712hefrcdv67ttphjjvs8lbsnh86q</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
